<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        
        <li>
            <a href="/Admin/charts1"><i class="fa fa-fw fa-bar-chart-o"></i> Teacher Logins</a>
        </li>
        <li>
            <a href="/Admin/charts2"><i class="fa fa-fw fa-bar-chart-o"></i> Student Logins</a>
        </li>
        <li>
            <a href="/Admin/tables"><i class="fa fa-fw fa-table"></i>Teacher Sign-Up Requests</a>
        </li>
        <li>
            <a href="/Admin/forms"><i class="fa fa-fw fa-edit"></i>Remove Teacher</a>
        </li>
        <li>
            <a href="/Admin/Alogin"><i class="fa fa-fw fa-edit"></i>Logout</a>
        </li>
        <!--<li>
            <a href="/Admin/bootstrapelements"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
        </li>
        <li>
            <a href="/Admin/bootstrapgrid"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/Admin/blankpage"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li> -->
        <!--<li>
            <a href="/Admin/index-rtl"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
        </li>-->
    </ul>
</div>