<div class="footer">
    <div class="footer-middle">
        <div class="container">

            <div class="col-md-3 footer-middle-in">
                <h6>Information</h6>
                <ul class=" in">
                    <a class="color" href="~/Teacher/makequiz">Make Quiz</a> <br/>
                    <a class="color3" href="~/Teacher/result">Result</a><br />
                    <a class="color3" href="~/Teacher/announce">Post Announcement</a><br />
                    <a class="color" href="~/Teacher/addStudent">Add Student</a><br />
                    <a class="color" href="~/Teacher/removeStudent">Remove Student</a><br />
                </ul>

                <div class="clearfix"></div>
            </div>


            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="footer-class">&copy; 2016 Go4Quiz.net All Rights Reserved | Design by  <a href="http://go4quiz.net/Developer" target="_blank">ZohaibRaza</a> </p>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

