
<div class="header">
    <div class="container">
        <div class="head">
            <div class=" logo">
                
            </div>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="col-sm-5 col-md-offset-2  header-login">
                <ul>
                    <li><a href="~/Teacher/Index">Teacher-Login</a></li>
                    <li><a href="~/Student/Index">Student-Login</a></li>
                    <!--<li><a href="~/Admin/Alogin">Admin-Login</a></li>-->
                    <li><a style="color:deepskyblue" href="~/Home/register">Signup(Teacher)</a></li>
                    <li><a style="color:deepskyblue" href="~/Home/registerSTD">Signup(Student)</a></li>
</ul>
                
            </div>
            

            <div class="clearfix">
                
            </div>
            
        </div>
        
    </div>

    <div class="container">

        <div class="head-top">

            <div class="col-sm-8 col-md-offset-2 h_menu4">
                <nav class="navbar nav_bottom" role="navigation">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">


                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav nav_1">
                            <li><a class="color" href="~/Home/index">Home</a></li>
                            <li><a class="color3" href="~/Home/service">Services</a></li>
                            <li><a class="color4" href="~/Home/about">About</a></li>
                            <!--- <li><a class="color5" href="typo.html">Short Codes</a></li> -->
                            <li><a class="color6" href="~/Home/contact">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                </nav>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
