@using WebApplication3.Models
@{ 

}



<form action="" method="post">
    <table border="1">

        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Phone</td>
            <td>Add</td>
            <td>Remove Request</td>
        </tr>

        @foreach (var a in Model)
            {
            <tr>
                <td>@a.EntryID</td>
                <td>@a.Name</td>
                <td>@a.Phone</td>
                <td> <a href="/Home/AddTech/@a.EntryID" >Add</a></td>
                <td> <a href="/Home/RemoveReq/@a.EntryID">Remove Request</a></td>
            </tr>
        }




    </table>
    </form>