
<div class="header">
    <div class="container">
        <div class="head">
            <div class=" logo">

            </div>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="col-sm-5 col-md-offset-2  header-login">
                <ul>
                    
                    <li><a class="color4" href="~/Student/ChangePassword">My Profile</a></li>
                    <li><a href="~/Student/Index">Logout</a></li>
                </ul>
            </div>


            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="container">

        <div class="head-top">

            <div class="col-sm-8 col-md-offset-2 h_menu4">
                <nav class="navbar nav_bottom" role="navigation">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav nav_1">
                            <li><a class="color" href="~/Student/attemptquiz">Attempt Quiz</a></li>
                            
                            <li><a class="color4" href="~/Student/viewMarks">View Quiz Marks</a></li>
                            <li><a class="color4" href="~/Student/Viewannounce">View Anouncement</a></li>
                            <!--- <li><a class="color5" href="typo.html">Short Codes</a></li> -->

                        </ul>
                    </div><!-- /.navbar-collapse -->

                </nav>
            </div>
            <div class="col-sm-2 search-right">


                <div class="clearfix"> </div>

                <!----->
                <!---pop-up-box---->
                <link href="~/Content/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
                <script src="~/Scripts/jquery.magnific-popup.js" type="text/javascript"></script>
                <!---//pop-up-box---->

                <script>
			$(document).ready(function() {
			$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
			});

			});
                </script>
                <!----->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
